<!DOCTYPE  html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"></head>
<style>
.navbar{
display:flex;
justify-content;
align-items:center;
flex-direction:column
}
</style>
</head>
<body>
<div class='navbar'>
<h1>Home</h1>
<h3><a href="/login">Login</a></h3>
</div>
</body>
</html>